*.obj
*.tlog
*.log
*.pdb
Debug
GameServer/Debug/
*.opensdf
*.sdf
*.v11.suo
*.*.user
*.win32.opensdf
*.win32.v11.suo
.vscode/
*.suo
*.vsp
*.psess
ClothesChange_Common/
Config/table/08配置文件表格总汇（中英对照）.txt
Server_2012.VC.db
*.am
LadderServer/convert.py
PressureClient/convert.py
PBAutoGen/*.inl
*.inl
GMServer/Main/GMServer - 副本.cpp
PlayerDataServer/Server/ServerMsgHandler.cpp.PVS-Studio.cfg
PlayerDataServer/ServerMsgHandler.i
Server_2012.plog
*.PVS-Studio.cfg
*.PVS-Studio.cmd
*.i
GMServer/serverconnection.i-e085865e
Config/table/t_hallOfFame.txt
PlayerDataServer/Server/Player - 副本.cpp
PlayerDataServer/Server/Player - 副本.h
GMClient/ClassDiagram.cd
GMClient/GMClient.aps
GMClient/GMClient.cpp
GMClient/GMClient.exe
GMClient/GMClient.h
GMClient/GMClient.rc
GMClient/GMClient.sln
GMClient/GMClient.vcxproj
GMClient/GMClient.vcxproj.filters
GMClient/GMClientDlg.cpp
GMClient/GMClientDlg.h
GMClient/GMServerConfig.ini
GMClient/ReadMe.txt
GMClient/ipch/gmclient-3885373d/gmclient-f723467d.ipch
GMClient/network/MsgHandler.cpp
GMClient/network/MsgHandler.h
GMClient/network/NetworkManager.cpp
GMClient/network/NetworkManager.h
GMClient/network/RegisterAllPacket.cpp
GMClient/res/GMClient.ico
GMClient/res/GMClient.rc2
GMClient/resource.h
GMClient/stdafx.cpp
GMClient/stdafx.h
GMClient/targetver.h
